/* body {
    background-color: black;
}

p, h3, h5 {
   color: white;
} */

.form {
    text-align: center;
}

.formInput {
    display: inline-block;
    padding: 2px;
}

.bio, h5 {
    text-align: center;
}

.browseButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.browse {
    display: flex;
    align-items: center;
    justify-content: center;
}
