.nav {
    padding: 12px;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
}

.nav:hover {
    background-color: red;
    border-radius: 15px;
    transition: .1s;
}


.navbar {
    text-align: right;
    background-color: #1c1e1f;
    padding: 20px;
}


li {
    list-style-type: none;
}

img {
    float: left;
}
