.nav {
    padding: 10px;
    list-style-type: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
}

.nav:hover {
    background-color: red;
    transition: .5s;
}

li {
    list-style-type: none;
    align-items: center;
    display: inline;
}

.navbar {
    text-align: right;
    background-color: #1c1e1f;
    padding: 15px;

}
